body {

    background-color: rgb(248, 248, 248);
}
header{
    background-color: rgba(105, 130, 240, 0.747);
    padding: 15px 0;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    
}
hr {
    margin: 0 0;
}
.player-options img, .enemy-options img{
    max-width: 175px;
    opacity: 0.3;
    cursor: pointer;
}
.align {
    
    display:flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}
.player-options div{
    
    width: 600px;
    
}
.enemy-options div{
    
    width: 200px;
     
}



.resultado {
    width: 200px;
    align-content: center;
    margin-left: auto;
    margin-right: auto; 
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    padding: 30px 20px;  
}
h1.derrota{
    
    background-color: rgb(255, 128, 128);
    padding: 30px 20px;  
    
    
}
h1.vencedor{
    background-color: rgb(128, 255, 149);
    padding: 30px 20px;  
    
    align-content: center;    
}
h1.empate{
    background-color: rgb(237, 238, 154);
    padding: 30px 20px;  
    
}